<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>Mapping Twitter</title>

        <!-- Bootstrap libraries -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
              type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://use.fontawesome.com/44e4ba1e2d.js"></script>

        <!-- Other CSS -->
        <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre|Open+Sans|Roboto" rel="stylesheet">
        <link rel="stylesheet" href="css/default.css" type="text/css">
        <link rel="stylesheet" href="http://js.arcgis.com/3.14/esri/css/esri.css">
        <style>
            html, body, #map
            {
                height: 100%;
                width: 100%;
                margin: 0;
                padding: 0;
            }

            body
            {
                background-color: #FFFFFF;
                overflow: hidden;
                font-family: "Trebuchet MS";
            }
        </style>
    </head>

    <body>
        <!-- The navigation bar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="text-center">
                    Mapping Twitter
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-sm-2 col-xs-1"></div>
                <div class="col-md-6 col-sm-8 col-xs-10">

                    <!-- The input section -->
                    <div class="row">
                        <div class="input-container">
                            <div class="col-xs-11 no-padding">
                                <input type="text">
                            </div>
                            <div class="col-xs-1 no-padding" id="search">
                                <i class="fa fa-search"></i>
                            </div>
                        </div>
                    </div>

                    <!-- The map section -->
                    <div class="map">
                    </div>
                </div>
                <div class="col-md-3 col-sm-2 col-xs-1"></div>
            </div>
        </div>


        <!-- The footer -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-2">
                        <!-- Empty for formatting -->
                    </div>
                    <div class="col-xs-8 text-center">
                        <p>
                            &copy; 2016
                        </p>
                    </div>
                    <div class="col-xs-2">
                        <!-- Empty for formatting -->
                    </div>
                </div>
            </div>
        </footer>

        <script src="js/default.js"></script>

        <script src="http://js.arcgis.com/3.14/"></script>
    </body>
</html>