<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>Mapping Twitter</title>

        <!-- Bootstrap libraries -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
              type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://use.fontawesome.com/44e4ba1e2d.js"></script>

        <!-- Esri libraries -->
        <script src="https://js.arcgis.com/3.18/"></script>
        <link rel="stylesheet" href="https://js.arcgis.com/3.18/esri/css/esri.css">

        <!-- Other CSS -->
        <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre|Open+Sans|Roboto" rel="stylesheet">
        <link rel="stylesheet" href="css/default.css" type="text/css">

        <!-- Icons -->
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    </head>

    <body>
        <!-- The navigation bar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="text-center">
                    <a href="/">Mapping Twitter</a>
                </div>
            </div>
        </nav>

        <!-- The input section -->
        <div class="input-container">
            <input type="text">
            <span id="search">
                <i class="fa fa-search"></i>
            </span>
        </div>
        <div class="demos">
            <span>Demo Searches:</span>
            <button class="btn btn-primary btn-md" id="hillary">Hillary Clinton</button>
            <button class="btn btn-danger btn-md" id="trump">Donald Trump</button>
            <button class="btn btn-success btn-md" id="microsoft">Microsoft</button>
        </div>

        <!-- The map section -->
        <div class="map">
        </div>

        <!-- The footer -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-2">
                        <!-- Empty for formatting -->
                    </div>
                    <div class="col-xs-8 text-center">
                        <p>
                            &copy; 2016 by Galen Abell, Grace Harper, Varoon Pazhyanur, and Kay Yin
                        </p>
                    </div>
                    <div class="col-xs-2">
                        <!-- Empty for formatting -->
                    </div>
                </div>
            </div>
        </footer>

        <script src="js/default.js"></script>
    </body>
</html>