<!DOCTYPE html>
<html>
    <head>
        <title>Unique Value Renderer</title>
        <style>
            html, body, #map
            {
                height: 100%;
                margin: 0;
                padding: 0;
            }
        </style>
        <script>
            var map;
            require([
                "esri/map", "esri/layers/FeatureLayer", "esri/InfoTemplate", "esri/symbols/SimpleLineSymbol", "esri/symbols/SimpleFillSymbol", "esri/renderers/UniqueValueRenderer", "esri/Color", "dojo/domReady!"
            ], function (Map, FeatureLayer, InfoTemplate, SimpleLineSymbol, SimpleFillSymbol, UniqueValueRenderer, Color)
            {
                map = new Map("map", {
                    basemap: "gray",
                    center: [-95.625, 39.243],
                    zoom: 4
                });
                map.on("load", addFeatureLayer);

                function addFeatureLayer()
                {
                    var defaultSymbol = new SimpleFillSymbol().setStyle(SimpleFillSymbol.STYLE_NULL);
                    defaultSymbol.outline.setStyle(SimpleLineSymbol.STYLE_NULL);

                    //create renderer
                    var renderer = new UniqueValueRenderer(defaultSymbol, "STATE_NAME");

                    var data = [{
                        'State Name': 'Alabama',
                        Num_Positive_Tweets: 273,
                        Num_Negative_Tweets: 93,
                        field4: ''
                    },
                        {
                            'State Name': 'Alaska',
                            Num_Positive_Tweets: 111,
                            Num_Negative_Tweets: 170,
                            field4: ''
                        },
                        {
                            'State Name': 'Arizona',
                            Num_Positive_Tweets: 350,
                            Num_Negative_Tweets: 271,
                            field4: ''
                        },
                        {
                            'State Name': 'Arkansas',
                            Num_Positive_Tweets: 70,
                            Num_Negative_Tweets: 94,
                            field4: ''
                        },
                        {
                            'State Name': 'California',
                            Num_Positive_Tweets: 306,
                            Num_Negative_Tweets: 486,
                            field4: ''
                        },
                        {
                            'State Name': 'Colorado',
                            Num_Positive_Tweets: 0,
                            Num_Negative_Tweets: 378,
                            field4: ''
                        },
                        {
                            'State Name': 'Connecticut',
                            Num_Positive_Tweets: 107,
                            Num_Negative_Tweets: 60,
                            field4: ''
                        },
                        {
                            'State Name': 'Delaware',
                            Num_Positive_Tweets: 333,
                            Num_Negative_Tweets: 256,
                            field4: ''
                        },
                        {
                            'State Name': 'Florida',
                            Num_Positive_Tweets: 497,
                            Num_Negative_Tweets: 96,
                            field4: ''
                        },
                        {
                            'State Name': 'Georgia',
                            Num_Positive_Tweets: 83,
                            Num_Negative_Tweets: 437,
                            field4: ''
                        },
                        {
                            'State Name': 'Hawaii',
                            Num_Positive_Tweets: 177,
                            Num_Negative_Tweets: 193,
                            field4: ''
                        },
                        {
                            'State Name': 'Idaho',
                            Num_Positive_Tweets: 24,
                            Num_Negative_Tweets: 287,
                            field4: ''
                        },
                        {
                            'State Name': 'Illinois',
                            Num_Positive_Tweets: 111,
                            Num_Negative_Tweets: 343,
                            field4: ''
                        },
                        {
                            'State Name': 'Indiana',
                            Num_Positive_Tweets: 214,
                            Num_Negative_Tweets: 98,
                            field4: ''
                        },
                        {
                            'State Name': 'Iowa',
                            Num_Positive_Tweets: 340,
                            Num_Negative_Tweets: 466,
                            field4: ''
                        },
                        {
                            'State Name': 'Kansas',
                            Num_Positive_Tweets: 201,
                            Num_Negative_Tweets: 358,
                            field4: ''
                        },
                        {
                            'State Name': 'Kentucky',
                            Num_Positive_Tweets: 198,
                            Num_Negative_Tweets: 181,
                            field4: ''
                        },
                        {
                            'State Name': 'Louisiana',
                            Num_Positive_Tweets: 205,
                            Num_Negative_Tweets: 305,
                            field4: ''
                        },
                        {
                            'State Name': 'Maine',
                            Num_Positive_Tweets: 33,
                            Num_Negative_Tweets: 475,
                            field4: ''
                        },
                        {
                            'State Name': 'Maryland',
                            Num_Positive_Tweets: 21,
                            Num_Negative_Tweets: 50,
                            field4: ''
                        },
                        {
                            'State Name': 'Massachusetts',
                            Num_Positive_Tweets: 61,
                            Num_Negative_Tweets: 159,
                            field4: ''
                        },
                        {
                            'State Name': 'Michigan',
                            Num_Positive_Tweets: 177,
                            Num_Negative_Tweets: 13,
                            field4: ''
                        },
                        {
                            'State Name': 'Minnesota',
                            Num_Positive_Tweets: 390,
                            Num_Negative_Tweets: 439,
                            field4: ''
                        },
                        {
                            'State Name': 'Mississippi',
                            Num_Positive_Tweets: 488,
                            Num_Negative_Tweets: 126,
                            field4: ''
                        },
                        {
                            'State Name': 'Missouri',
                            Num_Positive_Tweets: 461,
                            Num_Negative_Tweets: 366,
                            field4: ''
                        },
                        {
                            'State Name': 'Montana',
                            Num_Positive_Tweets: 399,
                            Num_Negative_Tweets: 419,
                            field4: ''
                        },
                        {
                            'State Name': 'Nebraska',
                            Num_Positive_Tweets: 1,
                            Num_Negative_Tweets: 1,
                            field4: ''
                        },
                        {
                            'State Name': 'Nevada',
                            Num_Positive_Tweets: 397,
                            Num_Negative_Tweets: 91,
                            field4: ''
                        },
                        {
                            'State Name': 'New Hampshire',
                            Num_Positive_Tweets: 46,
                            Num_Negative_Tweets: 75,
                            field4: ''
                        },
                        {
                            'State Name': 'New Jersey',
                            Num_Positive_Tweets: 175,
                            Num_Negative_Tweets: 366,
                            field4: ''
                        },
                        {
                            'State Name': 'New Mexico',
                            Num_Positive_Tweets: 284,
                            Num_Negative_Tweets: 370,
                            field4: ''
                        },
                        {
                            'State Name': 'New York',
                            Num_Positive_Tweets: 223,
                            Num_Negative_Tweets: 198,
                            field4: ''
                        },
                        {
                            'State Name': 'North Carolina',
                            Num_Positive_Tweets: 0,
                            Num_Negative_Tweets: 461,
                            field4: ''
                        },
                        {
                            'State Name': 'North Dakota',
                            Num_Positive_Tweets: 44,
                            Num_Negative_Tweets: 62,
                            field4: ''
                        },
                        {
                            'State Name': 'Ohio',
                            Num_Positive_Tweets: 129,
                            Num_Negative_Tweets: 92,
                            field4: ''
                        },
                        {
                            'State Name': 'Oklahoma',
                            Num_Positive_Tweets: 179,
                            Num_Negative_Tweets: 326,
                            field4: ''
                        },
                        {
                            'State Name': 'Oregon',
                            Num_Positive_Tweets: 172,
                            Num_Negative_Tweets: 113,
                            field4: ''
                        },
                        {
                            'State Name': 'Pennsylvania',
                            Num_Positive_Tweets: 109,
                            Num_Negative_Tweets: 182,
                            field4: ''
                        },
                        {
                            'State Name': 'Rhode Island',
                            Num_Positive_Tweets: 206,
                            Num_Negative_Tweets: 0,
                            field4: ''
                        },
                        {
                            'State Name': 'South Carolina',
                            Num_Positive_Tweets: 109,
                            Num_Negative_Tweets: 485,
                            field4: ''
                        },
                        {
                            'State Name': 'South Dakota',
                            Num_Positive_Tweets: 11,
                            Num_Negative_Tweets: 347,
                            field4: ''
                        },
                        {
                            'State Name': 'Tennessee',
                            Num_Positive_Tweets: 192,
                            Num_Negative_Tweets: 281,
                            field4: ''
                        },
                        {
                            'State Name': 'Texas',
                            Num_Positive_Tweets: 271,
                            Num_Negative_Tweets: 239,
                            field4: ''
                        },
                        {
                            'State Name': 'Utah',
                            Num_Positive_Tweets: 173,
                            Num_Negative_Tweets: 470,
                            field4: ''
                        },
                        {
                            'State Name': 'Vermont',
                            Num_Positive_Tweets: 416,
                            Num_Negative_Tweets: 181,
                            field4: ''
                        },
                        {
                            'State Name': 'Virginia',
                            Num_Positive_Tweets: 357,
                            Num_Negative_Tweets: 148,
                            field4: ''
                        },
                        {
                            'State Name': 'Washington',
                            Num_Positive_Tweets: 45,
                            Num_Negative_Tweets: 498,
                            field4: ''
                        },
                        {
                            'State Name': 'West Virginia',
                            Num_Positive_Tweets: 29,
                            Num_Negative_Tweets: 106,
                            field4: ''
                        },
                        {
                            'State Name': 'Wisconsin',
                            Num_Positive_Tweets: 107,
                            Num_Negative_Tweets: 216,
                            field4: ''
                        },
                        {
                            'State Name': 'Wyoming',
                            Num_Positive_Tweets: 268,
                            Num_Negative_Tweets: 68,
                            field4: ''
                        }];

                    for (var i = 0; i < data.length; i++)
                    {
                        var stateName = data[i]['State Name'];
                        var posNum = data[i]['Num_Positive_Tweets'];
                        var negNum = data[i]['Num_Negative_Tweets'];
                        var a, b, g, r;

                        if (posNum == 0 && negNum == 0)
                        {
                            a = 1;
                            b = 128;
                            g = 128;
                            r = 128;
                        }
                        else
                        {
                            a = (1 - 1 / (posNum + negNum));
                            b = Math.round(255 * posNum / (posNum + negNum));
                            g = 0;
                            r = Math.round(255 * negNum / (posNum + negNum));
                        }
                        renderer.addValue(stateName, new SimpleFillSymbol().setColor(new Color([r, g, b, a])));
                    }

                    var featureLayer = new FeatureLayer("https://sampleserver1.arcgisonline.com/ArcGIS/rest/services/Specialty/ESRI_StateCityHighway_USA/MapServer/1", {
                        infoTemplate: new InfoTemplate("&nbsp;", "${STATE_NAME}"),
                        mode: FeatureLayer.MODE_ONDEMAND,
                        outFields: ["STATE_NAME"]
                    });

                    featureLayer.setRenderer(renderer);
                    map.addLayer(featureLayer);
                }
            });
        </script>
    </head>

    <body>
        <div id="map"></div>
    </body>

</html>