<!DOCTYPE html>
<html>
    <head>
        <title>Unique Value Renderer</title>
        <style>
            html, body, #map
            {
                height: 100%;
                margin: 0;
                padding: 0;
            }
        </style>
        <script>
            var map;
            require([
                "esri/map", "esri/layers/FeatureLayer", "esri/InfoTemplate", "esri/symbols/SimpleLineSymbol", "esri/symbols/SimpleFillSymbol", "esri/renderers/UniqueValueRenderer", "esri/Color", "dojo/domReady!"
            ], function (Map, FeatureLayer, InfoTemplate, SimpleLineSymbol, SimpleFillSymbol, UniqueValueRenderer, Color)
            {
                map = new Map("map", {
                    basemap: "gray",
                    center: [-95.625, 39.243],
                    zoom: 4
                });
                map.on("load", addFeatureLayer);

                function addFeatureLayer()
                {
                    var defaultSymbol = new SimpleFillSymbol().setStyle(SimpleFillSymbol.STYLE_NULL);
                    defaultSymbol.outline.setStyle(SimpleLineSymbol.STYLE_NULL);

                    //create renderer
                    var renderer = new UniqueValueRenderer(defaultSymbol, "STATE_NAME");

                    var data = <%- jsonData %>;

                    for (var i = 0; i < data.length; i++)
                    {
                        var stateName = data[i]['State Name'];
                        var posNum = data[i]['Num_Positive_Tweets'];
                        var negNum = data[i]['Num_Negative_Tweets'];
                        var a, b, g, r;

                        if (posNum == 0 && negNum == 0)
                        {
                            a = 1;
                            b = 128;
                            g = 128;
                            r = 128;
                        }
                        else
                        {
                            a = (1 - 1 / (posNum + negNum));
                            b = Math.round(255 * posNum / (posNum + negNum));
                            g = 0;
                            r = Math.round(255 * negNum / (posNum + negNum));
                        }
                        renderer.addValue(stateName, new SimpleFillSymbol().setColor(new Color([r, g, b, a])));
                    }

                    var featureLayer = new FeatureLayer("https://sampleserver1.arcgisonline.com/ArcGIS/rest/services/Specialty/ESRI_StateCityHighway_USA/MapServer/1", {
                        infoTemplate: new InfoTemplate("&nbsp;", "${STATE_NAME}"),
                        mode: FeatureLayer.MODE_ONDEMAND,
                        outFields: ["STATE_NAME"]
                    });

                    featureLayer.setRenderer(renderer);
                    map.addLayer(featureLayer);
                }
            });
        </script>
    </head>

    <body>
    <p>Twitter opinion about <%- thingVar %> is shown below:</p>
        <div id="map"></div>
    </body>

</html>